* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --second-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fffaf5;
    font-family: "Poppins", sans-serif;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.section-heading {
    color: var(--second-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88; /* 187.5% */
}

.desc-center {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.container {
    width: 1169px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 117px;
    border-radius: 999px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    line-height: var(--height);
    color: var(--second-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.line-clamp {
    --line: 3;

    line-clamp: var(--line);
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    padding: 26px 0 8px;
}

.nav {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 229px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 16px;
}

.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--second-color);
}

.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: var(--second-color);
}

.action__btn {
    --height: 50px;

    margin-left: 213px;
    background: transparent;
    transition: background, border, color;
    transition-duration: 0.25s;
}

.action__btn:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    opacity: 1;
}

/* Hero */
.hero {
    padding: 92px 0 69px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
}

/* Hero media */
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.hero__img-wrap--small {
    align-self: flex-end;
    margin: 0px 0px -58px -23px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
}

.hero__deco {
    position: absolute;
    z-index: -1;
}

.hero__deco-left {
    left: -58px;
    bottom: 10px;
}

.hero__deco-right {
    top: 16px;
    right: -42px;
}

.hero__list {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__item {
    display: flex;
}

.hero-item__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero-item__info {
    margin-left: 10px;
}

.hero-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-item__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--second-color);
}

.hero-item__skeleton:last-child {
    margin-top: 6px;
    width: 39px;
}

.hero-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero__item:nth-of-type(2) .hero-item__img {
    background: #c6e2fa;
}

/* Hero content */
.hero__heading {
    max-width: 517px;
    color: var(--second-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
    font-size: 1.6rem;
    color: #656689;
    line-height: 1.88; /* 187.5% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #fd5056;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.hero__cta-link:hover {
    text-decoration: underline;
}

/* About */
.about {
    padding: 69px 0 73px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    max-width: 446px;
    margin-top: 15px;
}

.about__desc {
    max-width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: url(../icon/check.svg);
}

.about__card {
    position: absolute;
    top: 158px;
    left: 0;
    padding: 31px 26px 29px;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card-desc {
    margin-top: 14px;
    max-width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43; /* 142.857% */
}

.about__card-deco {
    position: absolute;
    top: -40px;
    right: -31px;
}

.about__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__img {
    width: 450px;
}

.about__media-deco {
    position: absolute;
    top: 150px;
    right: -50px;
    z-index: -1;
}

/* Features */
.features {
    padding: 73px 0 185px;
}

.features__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Features media */
.features__img-wrap {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    z-index: -2;
}

.features__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 18px;
}

.features__deco-blur {
    position: absolute;
    background: rgba(64, 118, 162, 0.27);
    border-radius: 50%;
    filter: blur(16px);
    z-index: -1;
}

.features__deco-blur-large {
    left: 158px;
    bottom: 26px;
    width: 193px;
    height: 68px;
    transform: rotate(13.72deg);
}

.features__deco-blur-small {
    left: 52px;
    bottom: 4px;
    width: 70px;
    height: 32px;
    background: #4076a2;
}

.features__deco {
    position: absolute;
}

.features__deco-01 {
    right: 13px;
    top: -16px;
}

.features__deco-02 {
    top: 13px;
    right: 63px;
}

.features__deco-03 {
    top: 33px;
    right: -21px;
}

.features__deco-04 {
    top: 268px;
    right: -33px;
}

.features__deco-05 {
    right: 19px;
    bottom: 150px;
}

.features__deco-06 {
    right: -42px;
    bottom: -55px;
}

/* Features content */
.features__heading {
    max-width: 543px;
}

.features__desc {
    max-width: 511px;
    margin-bottom: 54px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: inline-block;
    height: 2px;
    opacity: 0.07;
    background: var(--primary-color);
}

.tab__item {
    position: relative;
    display: flex;
    padding-bottom: 12px;
    align-items: center;
    column-gap: 11px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 22px;
    height: 22px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.tab__content {
    display: none;
    padding-top: 36px;
}

.tab__content--active {
    display: block;
}

.tab__content-desc {
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.tab__content-view {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-view:hover::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    content: "";
    height: 1.5px;
    background: var(--primary-color);
}

/* Service */
.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__heading {
    margin-top: 15px;
    text-align: center;
}

.service__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
    margin-top: 31px;
}

.service-item {
    margin-top: 40px;
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__title {
    position: relative;
    padding-left: 12px;
    color: var(--second-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-item__title::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 244px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.service-item__link {
    display: inline-flex;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}

.service-item__link::after {
    content: url(../icon/arrow-up-right.svg);
}

.service-item__link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.service__media {
    position: relative;
    height: 92%;
}

.service__media::after {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    content: "";
    height: 350px;
    border-radius: 10px;
    background: #79d5e0;
}

.service__img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    z-index: 1;
}

.service__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__btn {
    min-width: 214px;
    color: var(--primary-color);
    border-color: rgb(255, 91, 46, 0.6);
    font-size: 1.6rem;
    font-weight: 500;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__heading {
    margin-top: 15px;
    text-align: center;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 94%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: 130px;
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    top: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 19px;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../icon/staff__deco-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../icon/staff__deco-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../icon/staff__deco-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../icon/staff__deco-04.svg);
}

.staff-item__img {
    position: relative;
    display: block;
    z-index: 1;
    border-radius: inherit;
    max-width: 100%;
    object-fit: cover;
}

.staff-item__desc {
    margin-top: 34px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: var(--second-color);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__btn {
    min-width: 193px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    border-color: rgb(255, 91, 46, 0.6);
}
